BODY {
	SCROLLBAR-ARROW-COLOR: #006699; SCROLLBAR-FACE-COLOR: #dee3e7; BACKGROUND-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #98aab1; FONT-FAMILY: "ו"; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; COLOR: #000000; SCROLLBAR-SHADOW-COLOR: #dee3e7; FONT-SIZE: 20px; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc
}
.brown {
	FONT-FAMILY: Arial, sans-serif; BACKGROUND: #c1c190; COLOR: #000000; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
*.TextBold {
	FONT-FAMILY: ו, Verdana; COLOR: #000000; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
*.TextError {
	FONT-FAMILY: Verdana; COLOR: #ff0000; FONT-SIZE: 12px
}
*.CopyRight {
	FONT-FAMILY: Tahoma; COLOR: #000000; FONT-SIZE: 9px; CURSOR: hand
}
TD.Title {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 285px; PADDING-RIGHT: 10px; FONT-FAMILY: Tahoma; COLOR: white; FONT-SIZE: 16px; VERTICAL-ALIGN: bottom; FONT-WEIGHT: 800
}
#nav {
	TEXT-ALIGN: right; MARGIN: 10px 20px
}
#nav A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 12px; FONT-WEIGHT: 800; TEXT-DECORATION: none; PADDING-TOP: 5px
}
