<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysten.local.bss.device.repository.mapper.ApkUpgradeMapMapper">
    <resultMap id="BaseResultMap" type="com.ysten.local.bss.device.domain.ApkUpgradeMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ysten_id" property="ystenId" jdbcType="VARCHAR"/>
        <result column="upgrade_id" property="upgradeId" jdbcType="BIGINT"/>
        <result column="device_group_id" property="deviceGroupId" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ysten_id, upgrade_id, device_group_id, type, create_date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from bss_apk_upgrade_map
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from bss_apk_upgrade_map
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.ysten.local.bss.device.domain.ApkUpgradeMap" useGeneratedKeys="true"
            keyProperty="id">
    insert into bss_apk_upgrade_map (ysten_id, upgrade_id, 
      device_group_id, type, create_date
      )
    values (#{ystenId,jdbcType=VARCHAR}, #{upgradeId,jdbcType=BIGINT}, 
      #{deviceGroupId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.ysten.local.bss.device.domain.ApkUpgradeMap">
    update bss_apk_upgrade_map
    set ysten_id = #{ystenId,jdbcType=VARCHAR},
      upgrade_id = #{upgradeId,jdbcType=BIGINT},
      device_group_id = #{deviceGroupId,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="getByYstenIdAndUpgradeId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bss_apk_upgrade_map dum
        where dum.ysten_id = #{ystenId, jdbcType=VARCHAR}
        and dum.upgrade_Id = #{upgradeId, jdbcType=BIGINT}
    </select>

    <select id="getByGroupIdAndUpgradeId" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bss_apk_upgrade_map dum
        where dum.device_group_id = #{deviceGroupId, jdbcType=BIGINT}
        and dum.upgrade_Id = #{upgradeId, jdbcType=BIGINT}
    </select>

    <select id="findMapByUpgradeIdAndType" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from
        bss_apk_upgrade_map
        where
        <if test="upgradeId != null ">
            upgrade_id = #{upgradeId,jdbcType=BIGINT}
        </if>
        <if test="type != null and type != ''">
            and type = #{type,jdbcType=VARCHAR}
        </if>
    </select>
    <delete id="deleteByUpgradeIdAndType" parameterType="map">
        delete from bss_apk_upgrade_map
        <where>
            <if test="upgradeId != null ">
                upgrade_id = #{upgradeId,jdbcType=BIGINT}
            </if>
            <if test="type != null and type != ''">
                and type = #{type,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    <insert id="bulkSaveApkUpgradeMap" parameterType="java.util.List">
        insert into bss_apk_upgrade_map (
        ysten_id, upgrade_id, device_group_id, type, create_date
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.ystenId,jdbcType=VARCHAR},
            #{item.upgradeId,jdbcType=BIGINT},
            #{item.deviceGroupId,jdbcType=BIGINT},
            #{item.type,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <insert id="save" parameterType="apkUpgradeMap" useGeneratedKeys="true" keyProperty="id">
	     insert into bss_apk_upgrade_map (
	        ysten_id, upgrade_id, device_group_id, type, create_date
	       )
	     values (
	     	#{ystenId,jdbcType=VARCHAR},
	     	#{upgradeId,jdbcType=BIGINT},
	     	#{deviceGroupId,jdbcType=BIGINT},
	     	#{type,jdbcType=VARCHAR},
	     	#{createDate,jdbcType=TIMESTAMP}
	       )
     </insert>

    <delete id="deleteUpgradeTaskMapByGroupId" parameterType="java.lang.Long">
   	delete from bss_apk_upgrade_map where device_group_id = #{groupId,jdbcType=BIGINT}
   </delete>

    <delete id="deleteMapByYstenIdsAndUpgradeId" parameterType="java.util.List">
        delete from bss_apk_upgrade_map
        where upgrade_id = #{upgradeId,jdbcType=BIGINT}
        and ysten_id in
        <foreach collection="ystenIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByUpgradeId" parameterType="java.util.List">
        delete from bss_apk_upgrade_map
        where upgrade_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteApkUpgradeMapByYstenId" parameterType="java.lang.String">
		delete from bss_apk_upgrade_map where ysten_id = #{ystenId,jdbcType=VARCHAR}
	</delete>

</mapper>