<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysten.local.bss.device.repository.mapper.PanelTextBoxMapper" >
	<resultMap id="BaseResultMap" type="panelTextBox">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="text_box_id" property="textBoxId" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="is_new" property="isNew" jdbcType="VARCHAR" />
		<result column="progrom_id" property="progromId" jdbcType="BIGINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id,text_box_id,title,is_new,progrom_id
	</sql>
	
	<sql id="Base_Table_Name">
  	 bss_panel_text_box
    </sql>
	
	<select id="findAll" resultMap="BaseResultMap">
	select  <include refid="Base_Column_List" />
	from <include refid="Base_Table_Name"/>
	order by id
	</select>
	
	<select id="findAllByCondition" resultMap="BaseResultMap" parameterType="map">
	select  <include refid="Base_Column_List" />
	from <include refid="Base_Table_Name"/>
	<where>
		<if test="title!=null and title!=''">
               title like '%${title}%'
   		</if>
   		<if test="progromId!=null and progromId!='' and progromId!=0">
               and progrom_id like '%${progromId}%'
   		</if>
   		<if test="isNew!=null and isNew!='' and isNew!=0">
               and is_new = #{isNew}
   		</if>
	</where>
	order by id desc
	<if test="pageNo != null and pageSize != null">
    limit #{pageNo},#{pageSize}
    </if>
	</select>
	
	<select id="findCountByCondition" resultType="java.lang.Integer" parameterType="map">
	select  count(*) 
	from <include refid="Base_Table_Name"/>
	<where>
		<if test="title!=null and title!=''">
               title like '%${title}%'
   		</if>
   		<if test="progromId!=null and progromId!='' and progromId!=0">
               and progrom_id like '%${progromId}%'
   		</if>
   		<if test="isNew!=null and isNew!='' and isNew!=0">
               and is_new = #{isNew}
   		</if>
	</where>
	order by id desc
	</select>
	
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
	    select
		<include refid="Base_Column_List" />
		from <include refid="Base_Table_Name"/>
		where id = #{id}
	</select>
	
  <insert id="save" parameterType="panelTextBox" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="Base_Table_Name"/>
        (text_box_id,title,is_new,progrom_id) values
           ( 
    		#{textBoxId,jdbcType=INTEGER},   		
    		#{title,jdbcType=VARCHAR},
    		#{isNew,jdbcType=INTEGER},
    		#{progromId,jdbcType=INTEGER}
    		)
  </insert>
  
   <update id="update" parameterType="panelTextBox">
        update <include refid="Base_Table_Name"/>
        set
        text_box_id = #{textBoxId,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        is_new = #{isNew,jdbcType=INTEGER},
        progrom_id = #{progromId,jdbcType=INTEGER}
        where
        id = #{id,jdbcType=BIGINT}
  </update>
  
   <delete id="delete" parameterType="java.util.List">
      delete from <include refid="Base_Table_Name"/>
       where id in 
      <foreach collection="ids" item="id"  open="(" separator="," close=")">  
           #{id} 
      </foreach>
  </delete>
  
</mapper>