<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.ysten.local.bss.device.domain" />
        <package name="com.ysten.local.bss.device.bean" />
        <package name="com.ysten.area.domain" />
        <package name="com.ysten.local.bss.product.domain" />
        <package name="com.ysten.local.bss.order.domain" />
        <package name="com.ysten.local.bss.consum.domain" />
        <package name="com.ysten.local.bss.system.domain"/>
    </typeAliases>

</configuration>
